@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Lato&family=Noto+Sans+JP:wght@500&family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}

.nav-left{
    display: flex;
    align-items: center;
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-right i{
    font-size: 1.3rem; 
    margin-right: 35px;
}
.nav-right .user-icon{
    width:35px;
    max-height: 35px;
    border-radius: 50%;
    margin-right: 0;
}
.flex-div{
    display: flex;
    align-items: center;
}
nav{
    padding: 15px 3% 15px 2%;
    justify-content: space-between;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-left .menu-icon{
    font-size: 1.2rem;
    width: 22px;
    margin-right: 25px;
}
.nav-left .youtube-icon{
    font-size: 1.6rem;
    color: red;
}
.nav-left .logo{
    font-family: 'roboto' sans-serif;
    margin: 2px;
    font-size: 1.4rem;
    align-items: center;
}
.nav-left .small{
    font-weight: 700;
    font-size: 1rem;
}
.nav-middle .search-box{
    border: 1px solid #ccc;
    padding:8px;
    border-radius: 5px 0px 0px 5px;
}
.nav-middle .search-box input{
    width: 450px;
    margin: 0;
    border:0;
    outline: 0;
    background: transparent;
    font-weight:500;
    font-size: 1rem;

}
.nav-middle .search-icon{
     background: #CCC;
     padding: 10px 15px 10px 15px;
     border-radius: 0px 5px 5px 0px;
}
.nav-middle .mic-icon{
    font-size: 1.1rem;
    margin-left: 20px;
}

/******** SIDEBAR *************/
.sidebar{
    background:#fff ;
    width: 15%;
    height: 100vh;
    position: fixed;
    top:0;
    padding-left: 2%;
    padding-top: 80px;     
}
.shortcut-links a i{
   width: 20px;
   margin-right: 20px;
}
.shortcut-links a{
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 18px;
    width: fit-content;
    flex-wrap:wrap;   
}
.shortcut-links i{
    font-size: 1.2rem;
}
 .shortcut-links a:first-child{
   color: red;
}
.sidebar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 90%;
}
.subscribed-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}
.subscribed-list a{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: fit-content;
    flex-wrap: wrap;
}
.subscribed-list a img{
    width:25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 18px;
}
.small-sidebar{
    transition: 0.3s;
    width: 5%;
}
.small-sidebar a p{
    display: none;
}
.small-sidebar h3{
    display: none;
}
.small-sidebar hr{
    width: 50%;
    margin-bottom: 20px;
}

/************ main **********/

.main-container{
    background: #f9f9f9;
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

/*******js ******/
.large-container{
    padding-left: 8%;    
    transition: 0.3s;
}

.image-thumbnail{
    margin-top: 20px;
   width: 100%;
   max-height: 175px;
   background-color: yellow;
}

.banner{
    width: 100%;
}

.banner img{
    
    width: 100%;
    border-radius: 8px;
}
.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap: 12px;
    grid-row-gap:30px;
    margin-top: 15px;
}
.vid-list .thumbnail{
    width: 100%;
    max-height: 185px;
    border-radius: 5px;
}
.vid-list img.thumbnail{
    width: 100%;
    height: 158px;
}
.vid-list  .flex-div{
    align-items: flex-start;
    margin-top: 8px;
}
.vid-list  .flex-div img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;    
}
.vid-info{
    color: #5a5a5a;
    font-size: 14px;
}
.vid-info a{
    color:#000;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

@media (max-width:900px){
   .nav-left .menu-icon{
        display: none;
    }  
    .sidebar{
        display: none;
    }
    .main-container,.large-container{
        padding-left: 5%;
        padding-left: 5%;
    }
    .nav-right i{
        display: none;
    }
    .nav-right .user-icon{
        display: block;
        width: 30px;
    }
    .nav-middle .search-box input{
        width: 100px;
    }
    .nav-middle .mic-icon{
        display: none;
    }
    .logo{
        width: 80px;
    }
}

/************** video page *************/
.play-container{
    padding-left: 5%;
}
.row{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.play-video{
   flex-basis: 58%;
}

.right-sidebar{
    flex-basis: 41%;
}

.play-video video{
    width: 100%;
    
}
.side-video-list{
    display: flex;
    justify-content:start;
    margin-left:0px;
    margin-bottom: 8px;
}
.side-video-list img{
    width: 100%;
    max-height: 100px;
    border-radius: 2px;
}

.side-video-list .small-thumbnail{
    flex-basis: 35%;
    max-height: 100px;
}
.side-video-list .vid-info{
    flex-basis: 38%;
}
.side-video-list .vid-info{
    margin-left: 10px;
}
.play-video .tags a{
    color: #0000ff;
    font-size: 12px;
}
.play-video h3{
    font-weight: 500;
    font-size: 18px;
    margin-top: 8px;
}
.play-video .play-video-info a i{
    width: 20px;
    font-size: 24px;
    margin-right: 8px;
}
.play-video .play-video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
    font-weight: 600;
}
.play-video .play-video-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    color: #5a5a5a;
}
.play-video hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 14px 0;
}
.publisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.publisher div{
    flex: 1;
    line-height: 18px;
}
.publisher img{
    width: 50px;
    height: 50px;
    border-radius:50%;
    margin-right: 15px;
}
.publisher div p{
    color: #1f1f2e;
    font-weight: 600;    
    font-size: 16px;
}
.publisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
.publisher button{
    background: #cc0000;
    color: #fff;
    padding: 10px 25px;
    border: 0;
    border-radius: 2px;
    outline: 0;
    font-weight: 600;
    cursor: pointer;
}
.vid-description{
    padding-left: 65px;
    margin: 15px 0;
}
.vid-description p{
    width: 80%;
   font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;    
}
.vid-description h5{
    font-size: 15px;
    color: #5a5a5a;
    margin-top: 15px;
}
.add-comment{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.add-comment img{
    width:45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}
.add-comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-top: 10px;
    background: transparent;
}
.old-comments{
    display: flex;
    align-items: center;
    margin: 18px 0;
}
.old-comments img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;   
}
.old-comments h3{
    font-size: 14px;
    font-weight: 600;
}
.old-comments h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.old-comments .comment-action{
    display: flex;
    align-items: center;
    margin:8px 0;
    font-size: 14px;
}
.old-comments .comment-action i{
    color: #5a5a5a;
    margin-right: 5px;
}
.old-comments .comment-action span{
    margin-right: 15px;
}
.old-comments a{
    font-size: 14px;
    color: #065fd4;
    word-spacing: 2px;
    font-weight: 600;
}
div .view-reply{
    color: #065fd4;
    display: inline-flex;
    align-items: center;
}
@media (max-width:900px){
    .play-video{
        flex-basis: 100%;   
    }

    .right-sidebar{
       flex-basis: 100%;         
    }
    .play-container{
        padding-left: 5%;
    }
    .side-video-list .small-thumbnail{
        flex-basis: 50%;
    }
    .side-video-list .vid-info{
       flex-basis: 49;
    }
    .vid-description{
        padding-left: 0;
    }
    .play-video .play-video-info a{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
}
